[Desktop Entry]
Version=1.0
Type=Application
Name=Archivas Core
Comment=Desktop GUI for managing Archivas node and farmer processes
Exec=archivas-qt
Icon=archivas-core
Terminal=false
Categories=Network;Blockchain;
StartupNotify=true
MimeType=

